* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.container {
    margin-top: 100px;
  display: flex;
  justify-content: center;
  height: 70vh;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
}
.box {
  display: flex;
  align-items: center;
  border: 2px solid black;
  width: 150px;
  height: 130px;
  justify-content: center;
}
#green {
background-color: green;
}
#yellow {
background-color: yellow;
}
#gray {
background-color: gray;
}
#blue {
background-color: blue;
}