* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: white;
}
body {
  background-color: black;
}
.container {
  max-width: 90vw;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  gap: 10px;
}
.game {
  border-radius: 4px;
  max-width: 400px;
  margin: auto;
  background-color: gray;
  border: 2px solid gray;
}
.main input {
  padding: 4px;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  color: black;
}
.btn {
  margin-top: 10px;
  padding: 5px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  border: 2px solid gray;
  color: black;
  border-radius: 4px;
  font-weight: 600;
  transition: all 0.8s;
}
.btn {
  cursor: pointer;
}
/* .btn:hover {
  color: white;
  background-color: black;
  border: 2px solid yellow;
  border-radius: 18px;
  transition: all 0.8s;
} */
.refresh {
  background: rgb(0, 0, 0);
  color: rgb(238, 255, 0);
  padding: 4px;
  border: none;
  border-radius: 4px;
  margin-top: 5px;
}

.Show div {
  padding: 4px;
  margin: auto;
  margin-top: 10px;
}

.Show {
  position: relative;
  width: auto;
}

.position {
  font-size: 18px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* .Greater {
  visibility: hidden;
}
.Less {
    visibility: hidden;
} */

.position {
  visibility: hidden;
}

.count {
  display: flex;
  gap: 20px;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
}
.count li {
  color: black;
}
.PlayAgain {
  background: rgb(0, 0, 0);
  color: rgb(238, 255, 0);
  padding: 4px;
  border: none;
  border-radius: 4px;
  margin-top: 5px;
  /* visibility: hidden; */
}
